pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.firebaserc
*.log
/resources/public/js/compiled/
/resources/public/js/webworker/
/public/js/compiled/
*.vscode/
/node_modules
/config/dev.cljs
/config/prod.cljs
/src/cljs/coffeepot/envconfig.cljs
