/client/pom.xml
/client/pom.xml.asc
*.jar
*.class
/node_modules
/client/lib/
/client/classes/
/client/target/
/client/checkouts/
/client/.lein-deps-sum
/client/.lein-repl-history
/client/.lein-plugins/
/client/.lein-failures
/client/.nrepl-port
*.log
/client/resources/public/js/compiled/
/client/resources/public/js/webworker/
/client/public/js/compiled/
/client/resources/public/vendor/
*.vscode/
/client/node_modules
/config/dev.cljs
/config/prod.cljs
/src/cljs/coffeepot/envconfig.cljs
/cypress/videos
/cypress/screenshots
/server/target/
/server/node_modules
